:root {
    --mainlightcolor : #bebebe;
    --mainbgcolor : #161920;
    --maincolor : #212530;
    --bordercolor : #2b313f;
    --textcolor : #bebebe;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100dvh;
    user-select: none;
    font-family: Poppins;
    -webkit-tap-highlight-color: transparent;
    background-image: linear-gradient(to right top, #212121, #232323, #252425, #262628, #28282a, #2a2a2e, #2d2d31, #2f2f35, #33333b, #363642, #3a3a48, #3e3e4f);

}

.container {
    max-width: 100%;
    height: 100dvh;
    padding: 0 3% ;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 2px solid var(--bordercolor);
    position: relative;
    border-radius: 10px;
    background-color: var(--mainbgcolor);
    overflow-y: scroll;
    position: relative;
    box-shadow: -3px 4px 2px -2px rgba(13,13,13,0.3),
    -8px 10px 8px rgba(0,0,0,0.1),
    3px 3px 10px #383846;
    background-image: var(--mainbgcolor);

}

.housecontainer {
    width: 100%;
    min-height: 320px;
    background-color: var(--maincolor);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
}

.housecontainer h2, h4 {
    padding: 0;
    margin: 0;
    color: var(--textcolor);
}

.img {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.housecontainer img {
    width: 100%;
    min-height: 100%;
}

#topcontainer {
    margin-top: 50px;
}

.buttonsdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100%;
    min-width: 100%;
    border: 1px solid var(--bordercolor);
    border-radius: 4px;
    grid-column: span 2 / span 2;
    grid-row: span 7 / span 7;
    grid-column-start: 5;
}

.buttonsdiv button {
    width: 60%;
    height: 40px;
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    font-family: Poppins;
}

.headingsdiv {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
    grid-row-start: 8;
    border: 1px solid var(--bordercolor);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expensedetails * {
    padding: 0;
    margin: 0;
    color: var(--textcolor);
    text-align: right;
}

.expensedetails p {
    font-size: 12px;
}

#buyBtn {
    background-color: rgb(80, 170, 44);
    color: var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#sellBtn {
    background-color: rgb(170, 46, 46);
    color: var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: none;
}

#buyBtn:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);
}

#sellBtn:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);   
}

.alertbuy {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    width: 70%;
    height: 160px;
    background-color: var(--maincolor);
    display: none;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    color: var(--textcolor);
    border-radius: 8px;
    z-index: 10;
    padding: 4px;
}

.blur-background {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    /* transform: translate(-20%, -50%); */
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    z-index: 5;
  }

.alertbuy h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.alertbuy .buttoncontainer {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alertbuy .buttoncontainer button {
    width: 60px;
    height: 24px;
    border: 0;
    border-radius: 4px;
}

.alertsell {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    width: 70%;
    height: 160px;
    background-color: var(--maincolor);
    display: none;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    color: var(--textcolor);
    border-radius: 8px;
    z-index: 10;
    padding: 4px;
}

.alertsell h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.alertsell .buttoncontainer {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alertsell .buttoncontainer button {
    width: 60px;
    height: 24px;
    border: 0;
    border-radius: 4px;
}

.sellyes {
    background-color: rgb(80, 170, 44);
    color: var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sellyes:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);
}

.sellno {
    background-color: rgb(170, 46, 46);
    color: var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.sellno:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);
}

#yes {
    background-color: rgb(80, 170, 44);
    color: var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#yes:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);
}

#no {
    background-color: rgb(170, 46, 46);
    color: var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#no:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);
}

#rent {
    background-color: rgb(162, 118, 36);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: none;
    line-height: 12px;
}

#rent:active {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px;
    transform: translateY(2px);
}


.alertpopup {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -50%);
    width: 60%;
    padding: 12px;
    box-sizing: border-box;
    background-color: var(--maincolor);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--textcolor);
    border-radius: 8px;
    border: 2px solid var(--bordercolor);
    box-shadow: rgb(40, 59, 79) 0px 20px 30px -10px,
    rgb(13, 13, 14, 0.8) 0px 0px 100px 50px;
}

.alertpopup .okbutton {
    width: 60px;
    height: 30px;
    background: rgb(19,18,42);
    background: linear-gradient(47deg, rgba(19,18,42,1) 0%, rgba(9,9,121,1) 23%, rgba(42,148,202,1) 100%);
    border: 0;
    border-radius: 4px;
    color: var(--textcolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-weight: 600;
    font-size: 16px;
    font-family: poppins;
}


/* buy buttons */
.buysmallhouse1 {
    display: block;
}

.buysmallhouse2 {
    display: block;
}

.buysmallhouse3 {
    display: block;
}

.buymediumhouse1 {
    display: block;
}

.buymediumhouse2 {
    display: block;
}

.buymediumhouse3 {
    display: block;
}

.buylargehouse1 {
    display: block;
}

.buylargehouse2 {
    display: block;
}

.buylargehouse3 {
    display: block;
}

#Purchaseinticator {
    margin: 0;
    padding: 0;
}

.topcontainerprice {
    font-size: 24px;
}


@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0.2;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@media (width < 512px) {
    .container {
        border: 0;
        border-radius: 0px;
    }

    .buttonsdiv button {
        font-size: 16px;
        
    }

    .topcontainerprice {
        font-size: 20px;
    }
}

@media (width > 512px) {
    .container {
        max-height: 90dvh;
        max-width: 360px;
        margin: 5dvh auto auto auto;
    }

}


/* Hide scrollbar for Chrome, Safari, and Opera */
.container::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge, and Firefox */
.container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
