:root {
    --mainlightcolor : #bebebe;
    --mainbgcolor : #161920;
    --maincolor : #212530;
    --bordercolor : #2b313f;
    --textcolor : #bebebe;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100dvh;
    user-select: none;
    font-family: Poppins;
    -webkit-tap-highlight-color: transparent;
    background-image: linear-gradient(to right top, #212121, #232323, #252425, #262628, #28282a, #2a2a2e, #2d2d31, #2f2f35, #33333b, #363642, #3a3a48, #3e3e4f);
}

.container {
    max-width: 100%;
    min-width: 25%;
    height: 100dvh;
    padding: 0 15px ;
    margin: auto;
    border: 2px solid var(--bordercolor);
    display: flex;
    flex-direction: column;
    box-shadow: -3px 4px 2px -2px rgba(13,13,13,0.3),
            -8px 10px 8px rgba(0,0,0,0.1),
            3px 3px 10px #383846;
    position: relative;
    border-radius: 10px;
    background-color: var(--mainbgcolor);
    align-items: center;
    gap: 10px;
}

#loanContainer {
    width: 100%;
   
    background-color: var(--maincolor);
    border-radius: 12px;
    border: 1px solid var(--bordercolor);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

#loanContainer img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.loandetails {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 5px;
}

.loandetails h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--textcolor);
    margin: 0;
}

.header {
    font-family: poppins;
    color: var(--textcolor);
    text-align: left;
    font-size: 26px;
    width: 100%;
}

.loanamount {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
    height: 50%;
    color: var(--textcolor);
    box-sizing: border-box;
    padding: 5px;
}

.loanamount * {
    margin: 0;
}

.loanamount h2 {
    font-size: 20px;
}

.loanamount button {
    width: 80px;
    height: 30px;
    border: 1px solid var(--bordercolor);
    background-color: rgb(71, 71, 201);
    border-radius: 5px;
    color: var(--textcolor);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 0px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.loanamount button:active {
    transform: translateY(2px);
}

@media (width < 512px) {
    .container {
        border: 0;
        border-radius: 0px;
    }
}

@media (width > 512px) {
    .container {
        max-height: 90dvh;
        max-width: 360px;
        margin: 5dvh auto auto auto;
    }

}